<div class="contact-container">
  <h3>Or you can contact me directly bellow👇</h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-6 offset-3 mb-4">
      <form action="https://getform.io/f/cc6ce971-3031-4013-b5ba-aad7f87bd843" method="POST">
        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="Name" required=true>
        </div>
        <div class="form-group">
          <input type="email" name="email" class="form-control" placeholder="Email" required=true>
        </div>
        <div class="form-group">
          <textarea type="text" name="message" class="form-control" placeholder="Message..." required=true></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-100">Send</button>
      </form>
    </div>
  </div>
</div>
