<div class="social-container">
  <h3>You can find me here!</h3>
  <div class="social-links">
    <%# spam con imagenes de differents social media %>
    <i class="fab fa-linkedin"></i>
    <i class="fab fa-github-square"></i>
    <%# add the external links %>
  </div>
</div>
