.product-img {
  height: 300px;
  margin: 16px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-each {
  // border: 1px solid blue;
  margin: 32px 0px;
  background-color: rgba(204, 209, 209, 0.5);
  border-radius: 8px;
  padding: 3px 16px;
  box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.18);
  h5 {
    margin-top: 16px;
    font-family: 'Francois One', sans-serif;
    font-size: 24px;
  }
  p {
    letter-spacing: 2px;
    font-size: 16px;
    font-family: 'Francois One', sans-serif;
  }
}

.card-tag {
  // border: 1px solid green;
  font-size: 50px;
  color: $dark-gray !important;
  i:hover {
    color: $almost-black;
    transition: 1s;
  }
}
