.index-title-container {
  border: 1px solid blue;
  h1 {
    font-family: 'Luckiest Guy', 'cursive' !important;
    text-align: center;
    margin: 32px 0px;
  }
  h2 {
    text-align: center;
    font-family: 'Francois One', sans-serif;
  }
}

.projects-container {
  border: 1px solid red;
  h3 {
    text-align: center;
    font-family: 'Francois One', sans-serif;
  }
}

.typed-container {
  font-family: 'Press Start 2P', 'cursive' !important;
  margin: 32px;
  padding: 8px;
  background-color: rgba(204, 209, 209, 0.2);
  border-radius: 8px;
}

.allcards-container {
  border: 1px solid red;
}

.img-tag-container {
  display: flex;
}

.tags-link-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0px;
  border: 1px solid red;
  .fas {
    font-size: 24px;
    color: black;
    position: absolute;
    top: -73px;
    right: -3px;
  }
}

.social-container {
  border: 1px solid red;
}
