.index-title-container {
  border: 1px solid blue;
}

.projects-container {
  border: 1px solid red;
}

.typed-container {
  border: 1px solid red;
}

.allcards-container {
  border: 1px solid red;
}

.img-tag-container {
  display: flex;
}
