<div class="container index-title-container">
  <h1>Hello there!👋</h1>
  <h2>My name is Matias Acuna and I am full-stack web developer</h2>

<div class="typed-container">
  <span id="test"></span>
</div>

</div>
<!-- Projects Section -->
<div class="container projects-container">
  <%= partial 'partials/projects' %>
</div>
<%# https://github.com/dmbf29/portfolio/blob/master/source/index.html.erb %>
