<div class="container index-title-container">
  <h1>Matias Acuna: Full-Stack Web Developer</h1>
  <p>Welcome to my web apps portfolio</p>
</div>
<!-- Projects Section -->
<div class="container projects-container">
  <%= partial 'partials/projects' %>
</div>
<%# https://github.com/dmbf29/portfolio/blob/master/source/index.html.erb %>
